bin/
gen/
*/bin/
*/gen/
.metadata/*
test/Accelerometer/.metadata/*
*.swp
.classpath
doc/Design/*.png
*.pyc
*.pyo
*.aux
*.lof
*.out
*.pdf
*.toc
*.zip
*.swp
*.log
*.os
lib*.so
lib*.a
*.o
*.class
jni/.Makefile.depends
jni/build/*
jni/Native/*.h
*.dblite
CMakeFiles/
CopyOfCMakeCache.txt
Makefile
cmake_install.cmake
build-android7-*/*
build-unix32-*/*
build-cmake
local.properties
../../../
Grewal-Lawrence-Weill-Andrews/
doc/html/*
jni/doc/html/*
